<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="bootstrap.php">
    <testsuites>
        <testsuite name="calculator">
            <directory>./test/**</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src/**</directory>
        </whitelist>
        <blacklist>
            <directory suffix=".php">./vendor/**</directory>
        </blacklist>
    </filter>

    <php>
        <const name="PHPUNIT_TESTSUITE" value="true"/>
    </php>
</phpunit>

